* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #041897;
}

.searchBox {
  transform: translate(-50%, -50%);
  background: #000a53;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 40px;
  padding: 10px 15px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.searchBox:hover > .searchTxt {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover .searchBtn {
  color: #041897;
  text-decoration: none;
}

.searchBtn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #041897;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.searchTxt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #fff;
  font-size: 20px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
